@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@500&display=swap');

:root {
  --background-color: #e4ffbc;
  --price-color: #ff69b4;
  --hr-color: #ffb6c2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
  background-color: var(--background-color);
  text-align: center;
  color: #ffaec8;
}
header {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-height: 100%;
}

main {
  padding: 20px;
}

h1 {
  margin: 20px 0 10px;
}

p {
  max-width: 700px;
  margin: 0 auto 20px;
  line-height: 1.5;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

figure {
  width: 200px;
  margin: 0;
}

figure img {
  width: 100%;
  border-radius: 10px;
}

figcaption {
  margin-top: 10px;
  font-size: 1rem;
}

.price {
  color: var(--price-color);
  font-weight: bold;
}

hr {
  border: none;
  height: 3px;
  background-color: var(--hr-color);
  margin: 30px auto;
  width: 80%;
}
p {
    color:#ffb5c3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-family: 'Avenir Next', sans-serif;
}

li a {
  display: block;
  padding: 8px;
  font-family: 'Avenir Next', sans-serif;
}
a:link {
color:pink;
text-decoration:none;
font-family: 'Avenir Next', sans-serif;
}
a:hover {
color:salmon;
text-decoration:none;
font-family: 'Avenir Next', sans-serif;
}